<h1>{{ statusCode }}</h1>
<!-- [dataSource]="data" -->
<!-- [allowSorting]="true" [sortSettings]="sortSettings" -->
<div id="treegrid">
  <ng-template #template ngFor let-column [ngForOf]="treeGridColumns">
  </ng-template>
  <ejs-treegrid [treeColumnIndex]="1" [dataSource]="data" (actionBegin)="actionBegin($event)" hasChildMapping="isParent"
    idMapping="TaskID" parentIdMapping="parentID" height="900" isPrimaryKey="true" #treegrid
    [contextMenuItems]='contextMenuItemsCol' (contextMenuOpen)='contextMenuOpen($event)'
    (contextMenuClick)="contextMenuClick($event)" allowTextWrap="true"
    [infiniteScrollSettings]="infiniteScrollSettings" childMapping="subtasks" [treeColumnIndex]='1' >

    <e-columns>
      <ng-template #template ngFor let-column [ngForOf]="treeGridColumns">
        <e-column [field]="column.field" [type]="column.type" headerText="{{ column.headerText }}"
          [allowEditing]="column.allowEditing" [isPrimaryKey]="
          column.isPrimaryKey != null ? column.isPrimaryKey : null
        " [width]="column.width">
        </e-column>
      </ng-template>
    </e-columns>
    <!-- <ng-template #editSettingsTemplate let-data>
      <div ngForm>
        <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input name="TaskID" type="number" [attr.required]="!data.isAdd ? '' : null" [ngModel]="data.TaskID"
              [attr.disabled]="!data.isAdd ? '' : null" />
            <label for="TaskID" class="e-float-text e-label-top">Task ID</label>
          </div>
        </div>
        <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input name="TaskName" type="string" required [ngModel]="data.TaskName" />
            <label for="TaskName" class="e-float-text e-label-top">Task Name</label>
          </div>
        </div>
        <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input name="Progress" type="string" required [ngModel]="data.Progress" />
            <label for="Progress" class="e-float-text e-label-top">Progress</label>
          </div>
        </div>
        <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input name="Priority" type="string" required [ngModel]="data.Priority" />
            <label for="Priority" class="e-float-text e-label-top">Priority</label>
          </div>
        </div>
        <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input name="StartDate" type="string" required [ngModel]="data.StartDate" />
            <label for="StartDate" class="e-float-text e-label-top">StartDate</label>
          </div>
        </div>
        <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input name="EndDate" type="string" required [ngModel]="data.EndDate" />
            <label for="EndDate" class="e-float-text e-label-top">EndDate</label>
          </div>
        </div>
      </div>
    </ng-template> -->
  </ejs-treegrid>


  <!-- ADD Colunm Dialog -->
  <app-add-column [addColumnDialogVisible$]="addColumnDialogVisible$" [parentTreeComponent]="parentTreeComponent">
  </app-add-column>
  <!-- Edit Colunm Dialog -->
  <app-edit-column [editColumnDialogVisible$]="editColumnDialogVisible$" [editColumnData$]="editColumnData$"
    [parentTreeComponent]="parentTreeComponent">
  </app-edit-column>
  <app-view-column [viewColumnDialogVisible$]="viewColumnDialogVisible$"
    [viewColumnDialogColumnData$]="viewColumnDialogColumnData$"></app-view-column>
  <app-del-column [deleteColumnDialogVisible$]="deleteColumnDialogVisible$"
    [viewColumnDialogColumnData$]="viewColumnDialogColumnData$"></app-del-column>
</div>