@import url("https://cdn.syncfusion.com/ej2/material.css");

#js-licensing {
  display: none !important;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}
.e-headercell > * {
  pointer-events: none;
}
.e-headercell{
  color: #757575;
  font-weight: bold;
}