<div class="control-section">
    <div class="col-lg-12">
        <div class="control_wrapper" id="control_wrapper" style="margin: 10px auto;">
            <ejs-dialog id="templateAddColumn" #templateAddColumn width='450px'
                [visible]='deleteColumnDialogVisible$.value' header="Delete Colunm" allowDragging="true"
                [closeOnEscape]="false" [buttons]="deleteButtons" [content]="deleteContent"
                (beforeOpen)="beforeOpen()">
            </ejs-dialog>
        </div>
    </div>
</div>